@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 243, 125, 47;
  --secondary: 188, 145, 76;
  --neutral-1: 255, 255, 255;
  --neutral-2: 255, 240, 225;
  --neutral-3: 11, 21, 20;
  --neutral-4: 19, 29, 28;
  --black: 15, 26, 26;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker__input-container input {
  width: 100% !important;
}
